qtiworks-jqtiplus/src/main/resources/uk/ac/ed/ph/jqtiplus/xml-catalog/www.imsglobal.org/xsd/apip/apipv1p0/apipv1p0_qtioutcomesv2p1_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p1"
     targetNamespace="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p1"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:m="http://www.w3.org/1998/Math/MathML"
     xmlns:apip="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_qtiv1p0"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:sch="http://purl.oclc.org/dsdl/schematron"
     version="IMS APIP 1.0 QTI 2.1 OUTCOMES"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.imsglobal.org/xsd/w3/2001/xml.xsd" />
    <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="http://www.imsglobal.org/xsd/w3/2001/XInclude.xsd" />
    <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="http://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd" />
    <xs:import namespace="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_qtiv1p0" schemaLocation="http://www.imsglobal.org/profile/apip/apipv1p0/apipv1p0_qtiextv2p1_v1p0.xsd" />

    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            =========================
            Author:         Colin Smythe
            Date:           31st July, 2012
            Version:        Final 1.0
            Status:         Final Release
            Description:    This is the Platform Specific Model of the APIPv1.0 profile of the IMS QTI v2.1 Information Model.
                            This is the Entry and Core Level Profile for APIPv1.0 QTIv2.1 Outcomes Declarations.

            History:        This is the first version of the APIPv1.0 QTIv2.1 Outcomes Declaration Profile.

            PROFILE:        This is the "APIP-Outcomes". THIS IS A PROFILE OF THE BASE SPECIFICATION.
                            The changes to the base specification are:
                            * The schema namespace has been changed to "http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p1".
                            * The schema version has been changed to "IMS APIP 1.0 QTI 2.1 OUTCOMES".
                            * The "A" class/complexType and set of XML attributes have been deleted;
                            * The "AnyN" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapping" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapping" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentItem" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentItemRef" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentSection" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentSectionRef" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentTest" class/complexType and set of XML attributes have been deleted;
                            * The "AssociableHotspot" class/complexType and set of XML attributes have been deleted;
                            * The "AssociateInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "BaseValue" class/complexType and set of XML attributes have been deleted;
                            * The "BlockQuote" class/complexType and set of XML attributes have been deleted;
                            * The "BR" class/complexType and set of XML attributes have been deleted;
                            * The "BranchRule" class/complexType and set of XML attributes have been deleted;
                            * The "Caption" class/complexType and set of XML attributes have been deleted;
                            * The "ChoiceInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Col" class/complexType and set of XML attributes have been deleted;
                            * The "ColGroup" class/complexType and set of XML attributes have been deleted;
                            * The "Correct" class/complexType and set of XML attributes have been deleted;
                            * The "CorrectResponse" class/complexType and set of XML attributes have been deleted;
                            * The "CustomInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "CustomOperator" class/complexType and set of XML attributes have been deleted;
                            * The "DD" class/complexType and set of XML attributes have been deleted;
                            * The "Default" class/complexType and set of XML attributes have been deleted;
                            * The "DefaultValue" class/complexType and set of XML attributes have been deleted;
                            * The "Div" class/complexType and set of XML attributes have been deleted;
                            * The "DL" class/complexType and set of XML attributes have been deleted;
                            * The "DrawingInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "DT" class/complexType and set of XML attributes have been deleted;
                            * The "EndAttemptInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Equal" class/complexType and set of XML attributes have been deleted;
                            * The "EqualRounded" class/complexType and set of XML attributes have been deleted;
                            * The "ExpressionGroup" class/complexType and set of XML attributes have been deleted;
                            * The "ExtendedTextInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "FeedbackBlock" class/complexType and set of XML attributes have been deleted;
                            * The "FeedbackInline" class/complexType and set of XML attributes have been deleted;
                            * The "FieldValue" class/complexType and set of XML attributes have been deleted;
                            * The "Gap" class/complexType and set of XML attributes have been deleted;
                            * The "GapChoice" class/complexType and set of XML attributes have been deleted;
                            * The "GapImg" class/complexType and set of XML attributes have been deleted;
                            * The "GapMatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GapText" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicAssociateInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicGapMatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicOrderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HotspotChoice" class/complexType and set of XML attributes have been deleted;
                            * The "HotspotInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HotText" class/complexType and set of XML attributes have been deleted;
                            * The "HotTextInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HR" class/complexType and set of XML attributes have been deleted;
                            * The "HTMLText" class/complexType and set of XML attributes have been deleted;
                            * The "Img" class/complexType and set of XML attributes have been deleted;
                            * The "Index" class/complexType and set of XML attributes have been deleted;
                            * The "InfoControl" class/complexType and set of XML attributes have been deleted;
                            * The "InlineChoice" class/complexType and set of XML attributes have been deleted;
                            * The "InlineChoiceInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Inside" class/complexType and set of XML attributes have been deleted;
                            * The "InterpolationTable" class/complexType and set of XML attributes have been deleted;
                            * The "InterpolationTableEntry" class/complexType and set of XML attributes have been deleted;
                            * The "ItemBody" class/complexType and set of XML attributes have been deleted;
                            * The "ItemSessionControl" class/complexType and set of XML attributes have been deleted;
                            * The "LI" class/complexType and set of XML attributes have been deleted;
                            * The "Logic0toMany" class/complexType and set of XML attributes have been deleted;
                            * The "Logic1toMany" class/complexType and set of XML attributes have been deleted;
                            * The "LogicPair" class/complexType and set of XML attributes have been deleted;
                            * The "LogicSingle" class/complexType and set of XML attributes have been deleted;
                            * The "LookupOutcomeValue" class/complexType and set of XML attributes have been deleted;
                            * The "MapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "Mapping" class/complexType and set of XML attributes have been deleted;
                            * The "MapResponse" class/complexType and set of XML attributes have been deleted;
                            * The "MatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "MatchTable" class/complexType and set of XML attributes have been deleted;
                            * The "MatchTableEntry" class/complexType and set of XML attributes have been deleted;
                            * The "MathConstant" class/complexType and set of XML attributes have been deleted;
                            * The "MathOperator" class/complexType and set of XML attributes have been deleted;
                            * The "MediaInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "ModalFeedback" class/complexType and set of XML attributes have been deleted;
                            * The "Number" class/complexType and set of XML attributes have been deleted;
                            * The "NumericLogic1toMany" class/complexType and set of XML attributes have been deleted;
                            * The "Object" class/complexType and set of XML attributes have been deleted;
                            * The "ObjectFlowGroup" class/complexType and set of XML attributes have been deleted;
                            * The "Ordering" class/complexType and set of XML attributes have been deleted;
                            * The "OrderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "OUL" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeCondition" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeElse" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeIf" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeMinMax" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeRule" class/complexType and set of XML attributes have been deleted;
                            * The "Param" class/complexType and set of XML attributes have been deleted;
                            * The "PatternMatch" class/complexType and set of XML attributes have been deleted;
                            * The "PositionObjectInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "PositionObjectStage" class/complexType and set of XML attributes have been deleted;
                            * The "PrintedVariable" class/complexType and set of XML attributes have been deleted;
                            * The "Prompt" class/complexType and set of XML attributes have been deleted;
                            * The "Q" class/complexType and set of XML attributes have been deleted;
                            * The "RandomFloat" class/complexType and set of XML attributes have been deleted;
                            * The "RandomInteger" class/complexType and set of XML attributes have been deleted;
                            * The "Repeat" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseCondition" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseDeclaration" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseElse" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseIf" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseRuleGroup" class/complexType and set of XML attributes have been deleted;
                            * The "RoundTo" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlock" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlockTemplateBlock" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlockTemplateInline" class/complexType and set of XML attributes have been deleted;
                            * The "SectionPart" class/complexType and set of XML attributes have been deleted;
                            * The "Selection" class/complexType and set of XML attributes have been deleted;
                            * The "SelectPointInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "SetValue" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleAssociableChoice" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleChoice" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleMatchSet" class/complexType and set of XML attributes have been deleted;
                            * The "SliderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "StatsOperator" class/complexType and set of XML attributes have been deleted;
                            * The "StringMatch" class/complexType and set of XML attributes have been deleted;
                            * The "StyleSheet" class/complexType and set of XML attributes have been deleted;
                            * The "Substring" class/complexType and set of XML attributes have been deleted;
                            * The "Table" class/complexType and set of XML attributes have been deleted;
                            * The "TablePart" class/complexType and set of XML attributes have been deleted;
                            * The "TDH" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateBlock" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateBlockFeedbackBlock" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateCondition" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateConstraint" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateDeclaration" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateDefault" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateElse" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateIf" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateInline" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateRuleGroup" class/complexType and set of XML attributes have been deleted;
                            * The "TestFeedback" class/complexType and set of XML attributes have been deleted;
                            * The "TestPart" class/complexType and set of XML attributes have been deleted;
                            * The "TestVariables" class/complexType and set of XML attributes have been deleted;
                            * The "TextEntryInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "TimeLimits" class/complexType and set of XML attributes have been deleted;
                            * The "TR" class/complexType and set of XML attributes have been deleted;
                            * The "UploadInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Value" class/complexType and set of XML attributes have been deleted;
                            * The "Variable" class/complexType and set of XML attributes have been deleted;
                            * The "VariableMapping" class/complexType and set of XML attributes have been deleted;
                            * The "Weight" class/complexType and set of XML attributes have been deleted;

            License:        IPR, License and Distribution Notices

                            This machine readable file is derived from IMS Global specification IMS Question and Test Interoperability (QTI) Version 2.1
                            found at http://www.imsglobal.org/qti and the original IMS Global schema binding or code base
                            http://www.imsglobal.org/qti.

                            Recipients of this document are requested to submit, with their comments, notification of any
                            relevant patent claims or other intellectual property rights of which they may be aware that might be
                            infringed by the schema binding contained in this document.

                            IMS Global takes no position regarding the validity or scope of any intellectual property or other
                            rights that might be claimed to pertain to the implementation or use of the technology described in this
                            document or the extent to which any license under such rights might or might not be available; neither
                            does it represent that it has made any effort to identify any such rights. Information on IMS Global
                            procedures with respect to rights in IMS Global specifications can be found at the IMS Global Intellectual Property
                            Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright (c) IMS Global Learning Consortium 1999-2013. All Rights Reserved.

                            License Notice for Users

                            Users of products or services that include this document are hereby granted a worldwide, royalty-free, 
                            non-exclusive license to use this document. 

                            Distribution Notice for Developers

                            Developers of products or services that are not original incorporators of this document and 
                            have not changed this document, that is, are distributing a software product that incorporates this 
                            document as is from a third-party source other than IMS, are hereby granted permission to copy,
                            display and distribute the contents of this document in any medium for any purpose without fee or 
                            royalty provided that you include this IPR, License and Distribution notice in its entirety on ALL
                            copies, or portions thereof.

                            Developers of products or services that are original incorporators of this document and wish 
                            to provide distribution of this document as is or with modifications and developers of products and 
                            services that are not original incorporators of this document and have changed this document, are
                            required to register with the IMS Global community on the IMS Global website as described in the following two
                            paragraphs:-

                            *  If you wish to distribute this document as is, with no modifications, you are hereby granted 
                               permission to copy, display and distribute the contents of this document in any medium for any 
                               purpose without fee or royalty provided that you include this IPR, License and Distribution notice in
                               its entirety on ALL copies, or portions thereof, that you make and you complete a valid license 
                               registration with IMS and receive an email from IMS granting the license. To register, follow the 
                               instructions on the IMS website: http://www.imsglobal.org/specificationdownload.cfm. Once 
                               registered you are granted permission to transfer unlimited distribution rights of this document for the 
                               purposes of third-party or other distribution of your product or service that incorporates this 
                               document as long as this IPR, License and Distribution notice remains in place in its entirety; 

                            *  If you wish to create and distribute a derived work from this document, you are hereby 
                               granted permission to copy, display and distribute the contents of the derived work in any medium for 
                               any purpose without fee or royalty provided that you include this IPR, License and Distribution 
                               notice in its entirety on ALL copies, or portions thereof, that you make and you complete a valid 
                               profile registration with IMS Global and receive an email from IMS Global granting the license. To register, follow
                               the instructions on the IMS Global website: http://www.imsglobal.org/profile/. Once registered you are 
                               granted permission to transfer unlimited distribution rights of the derived work for the purposes of 
                               third-party or other distribution of your product or service that incorporates the derived work as long 
                               as this IPR, License and Distribution notice remains in place in its entirety. 

                            The limited permissions granted above are perpetual and will not be revoked by IMS Global or its 
                            successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ===========================
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)

            Source XSLT File Information
            ============================
            XSL Generator:    Specificationv1p0_GenerationToolv1.xsl
            XSLT Processor:   Saxon-HE-9.4.0.4
            Release:          1.0
            Date:             31st March, 2013
            Autogen Engineer: Colin Smythe (IMS Global, UK)
            Autogen Date:     2013-04-30

            IMS Global Auto-generation Binding Tool-kit (I-BAT)
            ===================================================
            This file was auto-generated using the IMS Global Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS Global makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS Global "I-BAT" documentation available at the IMS Global web-site:
            http://www.imsglobal.org.

            Tool Copyright:  2012-2013  (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation>
            Definition of Schematron Validation Rules
            =========================================
            Author:         Colin Smythe (IMS Global)
            Date:           31st October, 2012
            Version:        1.0
            Status:         Final Release

            Description:    This is the set of Schematron Rules to further enforce the QTIv2.1 Information Model. The rule sets that have been defined are:

                            [RULE SET GENERAL 1] Ensure that certain expressions are NOT used for Response Processing.
                            [RULE SET GENERAL 2] Ensure that the Item, Section, Test and TestPart identifiers are unique.
                            [RULE SET GENERAL 3] Ensure that AssessmentItem Response Declarations are correct.
                            [RULE SET INTERACTION 1] Enforce the correct use the TextEntryInteraction attributes.

                            RULE SET GENERAL 1: Ensure that certain expressions are NOT used for Response Processing. The set of rules are:-
                            * RULE GENERAL 1a-Assertion 1 :- The expression numberCorrect must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 2 :- The expression numberIncorrect must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 3 :- The expression numberPresented must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 4 :- The expression numberResponded must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 5 :- The expression numberSelected must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 6 :- The expression outcomeMinimum must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 7 :- The expression outcomeMaximum must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 8 :- The expression testVariables must NOT be used in Response Processing.

                            RULE SET GENERAL 2: Ensure that the Item, Section, Test and TestPart identifiers are unique. The set of rules are:-
                            * RULE GENERAL 2a-Assertion 1 :- The AssessmentTest and a TestPart must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 2 :- The AssessmentTest and an AssessmentSection must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 3 :- The AssessmentTest and a direct child AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 4 :- The AssessmentTest and a descendant AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 5 :- The AssessmentTest and a descendant AssessmentItemRef must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 1 :- Two TestParts must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 2 :- The TestPart and an AssessmentSection must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 3 :- The TestPart and a direct child AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 4 :- The TestPart and a descendant AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 5 :- The TestPart and a descendant AssessmentItemRef must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 1 :- Two AssessmentSection children of a TestPart must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 2 :- The AssessmentSection and a descendant AssessmentSection must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 3 :- The AssessmentSection and a descendant AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 4 :- The AssessmentSection and a descendant AssessmentItemRef must not have the same unique identifier.

                            RULE SET GENERAL 3: Ensure that AssessmentItem Response Declarations are correct. The set of rules are:-
                            * RULE GENERAL 3a-Assertion 1 :- ***To be completed***..

                            RULE SET INTERACTION 1: Enforce the correct use the TextEntryInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 1a-Assertion 1 :- The StringIdentifier and ResponseIdentifier attribute values must not be the same.

            History:        Version 1.0: The first set of schematron rules for the IMS Global QTIv2.1 specification.
        </xs:documentation>

        <xs:appinfo>
            <sch:ns uri="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p1" prefix="qti" />
            <sch:title>Schematron Validation Rules for QTI Specification v2.1.</sch:title>

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" name="RULE SET GENERAL 1">
                    <sch:title>Ensure that certain expressions are NOT used for Response Processing.</sch:title>

                        <!-- The rule for the ["//qti:assessmentItem/qti:responseProcessing"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" name="RULE SET GENERAL 2">
                    <sch:title>Ensure that the Item, Section, Test and TestPart identifiers are unique.</sch:title>

                        <!-- The rule for the ["//qti:assessmentTest"] context has been removed in this profile -->

                        <!-- The rule for the ["//qti:assessmentTest/qti:testPart"] context has been removed in this profile -->

                        <!-- The rule for the ["//qti:assessmentTest/qti:testPart/qti:assessmentSection"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" name="RULE SET GENERAL 3">
                    <sch:title>Ensure that AssessmentItem Response Declarations are correct.</sch:title>

                        <!-- The rule for the ["//qti:assessmentItem/qti:responseProcessing"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" name="RULE SET INTERACTION 1">
                    <sch:title>Enforce the correct use the TextEntryInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:textEntryInteraction[@stringIdentifier]"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

        </xs:appinfo>
    </xs:annotation>

    <!-- Generate Global Attributes (non-assigned) ******************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global Attributes *********************************************************************** -->

    <xs:attributeGroup name="baseType.OutcomeDeclaration.Attr">
        <xs:attribute name="baseType" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="boolean" />
                    <xs:enumeration value="directedPair" />
                    <xs:enumeration value="duration" />
                    <xs:enumeration value="file" />
                    <xs:enumeration value="float" />
                    <xs:enumeration value="identifier" />
                    <xs:enumeration value="integer" />
                    <xs:enumeration value="pair" />
                    <xs:enumeration value="point" />
                    <xs:enumeration value="string" />
                    <xs:enumeration value="uri" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="cardinality.OutcomeDeclaration.Attr">
        <xs:attribute name="cardinality" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="multiple" />
                    <xs:enumeration value="ordered" />
                    <xs:enumeration value="record" />
                    <xs:enumeration value="single" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="identifier.OutcomeDeclaration.Attr">
        <xs:attribute name="identifier" use="required" type="Identifier.Type" />
    </xs:attributeGroup>

    <xs:attributeGroup name="interpretation.OutcomeDeclaration.Attr">
        <xs:attribute name="interpretation" use="optional" type="xs:string" />
    </xs:attributeGroup>

    <xs:attributeGroup name="longInterpretation.OutcomeDeclaration.Attr">
        <xs:attribute name="longInterpretation" use="optional" type="xs:anyURI" />
    </xs:attributeGroup>

    <xs:attributeGroup name="masteryValue.OutcomeDeclaration.Attr">
        <xs:attribute name="masteryValue" use="optional" type="xs:double" />
    </xs:attributeGroup>

    <xs:attributeGroup name="normalMaximum.OutcomeDeclaration.Attr">
        <xs:attribute name="normalMaximum" use="optional" type="xs:double" />
    </xs:attributeGroup>

    <xs:attributeGroup name="normalMinimum.OutcomeDeclaration.Attr">
        <xs:attribute name="normalMinimum" use="optional" type="xs:double" />
    </xs:attributeGroup>

    <xs:attributeGroup name="view.OutcomeDeclaration.Attr">
        <xs:attribute name="view" use="optional">
            <xs:simpleType>
                <xs:list itemType="View.Type" />
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

        <!-- The global list "IdentifierList.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The global list "IntegerList.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The global list "StringList.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The global list "ToleranceList.Type" has been deleted, by deduction, in this profile  ************* -->

    <xs:simpleType name="View.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="author" />
            <xs:enumeration value="candidate" />
            <xs:enumeration value="proctor" />
            <xs:enumeration value="scorer" />
            <xs:enumeration value="testConstructor" />
            <xs:enumeration value="tutor" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

        <!-- The Lax-Namespaced extension Group declaration has been deleted in this profile  ************* -->

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <xs:complexType name="EmptyPrimitiveType.Type">
        <xs:complexContent>
            <xs:restriction base="xs:anyType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <xs:element name="null" type="EmptyPrimitiveType.Type" />

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

        <!-- The simpleType-based DerivedType "Date.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The simpleType-based DerivedType "DateTime.Type" has been deleted, by deduction, in this profile  ************* -->

    <xs:simpleType name="EncVariableString.Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\{[\i-[:]][\c-[:]]*\}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Identifier.Type">
        <xs:restriction base="xs:NCName" />
    </xs:simpleType>

        <!-- The simpleType-based DerivedType "Length.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The simpleType-based DerivedType "MimeType.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The simpleType-based DerivedType "String256.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The simpleType-based DerivedType "UniqueIdentifier.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The simpleType-based DerivedType "UniqueIdentifierRef.Type" has been deleted, by deduction, in this profile  ************* -->

    <xs:simpleType name="VariableString.Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\i-[:]][\c-[:]]*" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the ComplexTypes ************************************************************************ -->

    <xs:complexType name="OutcomeDeclaration.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The OutcomeDeclaration complexType is the container for the declaration of outcome variables. Outcome variables are declared by outcome declarations. Their value is set either from a default given in the declaration itself or by a 'responseRule' during 'responseProcessing'.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="identifier.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="cardinality.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="baseType.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="view.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="interpretation.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="longInterpretation.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="normalMaximum.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="normalMinimum.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="masteryValue.OutcomeDeclaration.Attr" />
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived ComplexTypes **************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="outcomeDeclaration" type="OutcomeDeclaration.Type" />

    <!-- ================================================================================================== -->

</xs:schema>
